{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Gallerion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/styles/style.css' %}"/>
    {% block config %}
    {% endblock config %}
</head>
<body style="padding-top:60px">
<div id="fb-root"></div>
<div class="container">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Gallerion</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li class="">
                    <a href="{% url "main" %}"><span>Strona główna</span></a>
                </li>

                <li class="">
                    <a href="{% url "get_users" %}"><span>Przeglądaj</span></a>
                </li>

                {% if user.is_authenticated %}
                    <li class=" dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Zarządzaj <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a href="{% url "create_folder" %}"><span>Dodaj folder</span></a>
                            </li>
                            <li class="">
                                <a href="{% url "send_image" %}"><span>Wgraj obrazek</span></a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    <li class="">
                        <a href="{% url "config" %}"><span>Konfiguracja</span></a>
                    </li>
                {% endif %}

                <li class=" dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Konto <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if user.is_authenticated %}
                            {% if user.is_superuser %}
                                <li class="">
                                    <a href="{% url 'admin:index' %}"><span>Panel administracyjny</span></a>
                                </li>
                            {% endif %}
                            <li class="">
                                <a href="{% url "logout" %}"><span>Wyloguj</span></a>
                            </li>
                        {% else %}
                            <li class="">
                                <a href="{% url "login" %}"><span>Zaloguj</span></a>
                            </li>
                        {% endif %}

                    </ul>
                </li>

            </ul>
            {% if user.is_authenticated %}
                <p class="navbar-text navbar-right">Zalogowany jako <a href="#"class="navbar-link">{{ user.username }}</a></p>
            {% endif %}
        </div>
    </div>
    {% block content %}
    {% endblock content %}
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>
