{% extends "base.html" %}

{% block content %}
    {% if form.thumb_type.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> Popraw błędnie wprowadzone dane.
        </div>
    {% elif status %}
        <div class="alert alert-success">
            <strong>OK!</strong> Twoja konfiguracja została zapisana.
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Konfiguracja</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'config' %}" method="POST"
                  style="margin-left: auto; margin-right: auto; width: 600px">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label" style="width: 200px">Wielkość miniatur</label>

                    <div class="col-sm-10" style="width: 200px">
                        {{ form.thumb_type }}
                        {{ form.user }}
                    </div>
                    <label class="col-sm-2 control-label" style="width: 200px">
                        {{ form.thumb_type.errors }}
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-default">Zapisz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}