{% extends "base.html" %}

{% block content %}
    {% if form.name.errors or error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> Popraw błędnie wprowadzone dane.
        </div>
    {% elif status %}
        <div class="alert alert-success">
            <strong>OK!</strong> Folder został stworzony.
        </div>
    {% endif %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Stwórz folder</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" action="{% url 'create_folder' %}" method="POST"
                  style="margin-left: auto; margin-right: auto; width: 800px">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">Nazwa folderu</label>

                    <div class="col-sm-10" style="width: 300px">
                        {{ form.name }}
                        {{ form.user }}
                    </div>
                    <label class="col-sm-2 control-label" style="width: 300px">
                        {% if error %}
                            <ul class="errorlist">
                                <li>{{ error }}</li>
                            </ul>
                        {% else %}
                            {{ form.name.errors }}
                        {% endif %}
                    </label>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Stwórz</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}