{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    {% if status %}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>OK!</strong> Obrazek został przeniesiony.
        </div>
    {% endif %}

    <div class="bs-example">
        <div class="row">

            {% for folder in folder_list %}
                <div class="col-xs-6 col-md-3">
                    <a href="{% url 'get_images' folder.user.username folder.name %}" class="thumbnail">
                        <img src="{% static 'gallery/images/folder.png' %}"
                             style="height: 220px; width: 100%; display: block;" data-src="holder.js/100%x180"
                             alt="{{ folder.name }}">
                        <span class="glyphicon-class" style="text-align: center"><h3>{{ folder.name }}</h3></span>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}