{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1 style="text-align: center;">Gallerion</h1>
  <h2 style="text-align: center;">Twoja galeria zdjęć...</h2>
</div>
{% endblock content %}
