{% extends "base.html" %}

{% block content %}

    <div class="bs-example">
        <div class="row">

            {% for image in image_list %}
                {% if type == 'small' %}
                    <div class="col-xs-6 col-md-3" style="width: 90px;">
                {% elif type == 'medium' %}
                    <div class="col-xs-6 col-md-3" style="width: 190px;">
                {% else %}
                    <div class="col-xs-6 col-md-3" style="width: 290px;">
                {% endif %}


                    {% if type == 'small' %}
                        <a href="{% url 'get_image' image.user.username image.folder.name image.name %}" class="thumbnail" style="padding: 0; width: 70px; height: 70px">
                        {% if image.picture_thumb_small %}
                            <img src="{{ image.picture_thumb_small.url }}" style=" display: block;" alt="{{ image.name }}">
                        {% else %}
                            <span class="glyphicon-class" style="text-align: center"><h5>{{ image.name }}</h5></span>
                        {% endif %}
                    {% elif type == 'medium' %}
                        <a href="{% url 'get_image' image.user.username image.folder.name image.name %}" class="thumbnail" style="padding: 0; width: 170px; height: 170px">
                        {% if image.picture_thumb_medium %}
                            <img src="{{ image.picture_thumb_medium.url }}" style=" display: block;" alt="{{ image.name }}">
                        {% else %}
                            <span class="glyphicon-class" style="text-align: center"><h5>{{ image.name }}</h5></span>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'get_image' image.user.username image.folder.name image.name %}" class="thumbnail" style="padding: 0; width: 270px; height: 270px">
                        {% if image.picture_thumb_large %}
                            <img src="{{ image.picture_thumb_large.url }}" style=" display: block;" alt="{{ image.name }}">
                        {% else %}
                            <span class="glyphicon-class" style="text-align: center"><h5>{{ image.name }}</h5></span>
                        {% endif %}
                    {% endif %}
                    </a>
                </div>
            {% endfor %}

        </div>
        {% if image_list.count != 0 %}
            <a class="btn btn-default" style="float: right" href="{% url 'get_zipped_folder' username foldername %}">Pobierz folder</a>
        {% endif %}
    </div>

{% endblock %}