{% extends "base.html" %}

{% block content %}

    {% if error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> {{ error }}
        </div>
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Zaloguj się</h3>
        </div>
        <div class="panel-body">

            <form class="form-inline" role="form" action="" method="POST" style="margin-left: auto; margin-right: auto; width: 476px">
                {% csrf_token %}

                <div class="form-group">
                    <label class="sr-only" for="id_username">Login</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label class="sr-only" for="id_password">Hasło</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="btn btn-default">Zaloguj</button>

            </form>
        </div>
    </div>

{% endblock %}