{% extends "base.html" %}

{% block config %}
    <meta http-equiv="refresh" content="3;url={% url 'main' %}">
{% endblock %}

{% block content %}
    <div class="alert alert-success">
        <strong>OK!</strong> {{ text }}
    </div>
{% endblock %}