{% extends "base.html" %}
{% load staticfiles %}

{% block config %}
    {% if result >= -1 and result <= 99 %}
        <meta http-equiv="refresh" content="1" />
    {% elif result == 100 %}
        <meta http-equiv="refresh" content="4;url={% url 'get_image' image.user.username image.folder.name image.name %}">
    {% endif %}
{% endblock %}

{% block content %}
    <div class="alert alert-info">
        <strong>Informacja!</strong> Operacja rozpoczęta
    </div>

    <div class="alert alert-success">
        <strong>OK!</strong> Obraz został dostarczony. Rozpoczynam tworzenie miniatur...
    </div>

    {% if result == -1 %}
        <div class="alert alert-warning">
            <strong>Czekaj!</strong> Oczekuję na dostępność workera...
        </div>
    {% elif result >= 1 and result <= 100 %}
        <div class="alert alert-success">
            <strong>OK!</strong> Oczekuję na dostępność workera... <strong>GOTOWE</strong>
        </div>
    {% endif %}

    {% if result >= 1 and result <= 30 %}
        <div class="alert alert-warning">
            <strong>Czekaj!</strong> Tworzę miniatury 1/3...
        </div>

    {% elif result >= 31 and result <= 60 %}
        <div class="alert alert-warning">
            <strong>Czekaj!</strong> Tworzę miniatury 2/3...
        </div>

    {% elif result >= 61 and result <= 99 %}
        <div class="alert alert-warning">
            <strong>Czekaj!</strong> Tworzę miniatury 3/3...
        </div>

    {% elif result == 100 %}
        <div class="alert alert-success">
            <strong>OK!</strong> Tworzę miniatury 3/3... <strong>GOTOWE</strong>
        </div>
        <div class="alert alert-info">
            <strong>Informacja!</strong> Operacja zakończona. Za chwilę zostaniesz przekierowany na stronę obrazu...
        </div>

    {% elif result == -2 %}
        <div class="alert alert-danger">
            <strong>Błąd!</strong> Spróbuj ponownie później.
        </div>

    {% endif %}


    {% if result >= 0 and result <= 100 %}
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                 style="width: {{ result }}%;">
                {{ result }}%
            </div>
    </div>
    {% endif %}


{% endblock %}