{% extends "base.html" %}

{% block config %}
    <script src="//code.jquery.com/jquery-2.1.1.js"></script>
{% endblock %}

{% block content %}

    {% if form.name.errors or form.folder.errors or form.picture.errors or error %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> Popraw błędnie wprowadzone dane.
        </div>
    {% endif %}

    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Dodaj obraz</h3>
        </div>

        <div class="panel-body">

            <form class="form-horizontal" enctype="multipart/form-data" action="{% url 'send_image' %}" method="POST"
                  style="margin-left: auto; margin-right: auto; width: 800px">
                {% csrf_token %}

                <div class="form-group">
                    <label for="id_name" class="col-sm-2 control-label">Nazwa obrazka</label>

                    <div class="col-sm-10" style="width: 300px">
                        {{ form.name }}
                    </div>
                    <label class="col-sm-2 control-label" style="width: 300px">
                        {% if error %}
                            <ul class="errorlist">
                                <li>{{ error }}</li>
                            </ul>
                        {% else %}
                            {{ form.name.errors }}
                        {% endif %}
                    </label>
                </div>

                <div class="form-group">
                    <label for="id_folder" class="col-sm-2 control-label">Folder</label>

                    <div class="col-sm-10" style="width: 300px">
                        {{ form.folder }}
                    </div>
                    <label class="col-sm-2 control-label" style="width: 300px">
                        {{ form.folder.errors }}
                    </label>
                </div>

                <div class="form-group">
                    <label for="id_folder" class="col-sm-2 control-label">Obraz</label>

                    <div class="col-sm-10" style="width: 300px">
                        {{ form.picture }}
                    </div>
                    <label class="col-sm-2 control-label" style="width: 600px">
                        {{ form.picture.errors }}
                    </label>
                </div>

                <script type="text/javascript">
                    $('#id_picture').bind('change', function () {
                        var size = this.files[0].size / 1024 / 1024;
                        if (size >= 1) {
                            alert('Obrazek jest za duży! Maksymalny rozmiar to 1MB, aktualny ' + Math.round(this.files[0].size / 1024 / 1024*100)/100 + "MB");
                            document.getElementById("id_picture").value = "";
                        }
                    });
                </script>
                {{ form.user }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Prześlij</button>
                    </div>
                </div>

            </form>

        </div>

    </div>
{% endblock %}