{% extends "base.html" %}

{% block content %}
    <div class="well well-lg" style="text-align: center">
        <img src="{{ image.picture.url }}" alt="{{ image.name }}" style="height: 100%; width: 600px;"/>
    </div>

    {% if form.folder.errors %}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Błąd!</strong> Musisz wybrać folder.
        </div>
    {% endif %}

    <a class="btn btn-default" style="float: right; margin-left: 20px" href="{{ image.picture.url }}"
           download="{{ image.name }}.{{ image_format }}">Pobierz w
            oryginalnym rozmiarze</a>

    <div class="btn-group" style="float: right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Pobierz w rozmiarze... <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'resize_image' image.user.username image.folder.name image.name 100 %}">W-100</a></li>
            <li><a href="{% url 'resize_image' image.user.username image.folder.name image.name 300 %}">W-300</a></li>
            <li><a href="{% url 'resize_image' image.user.username image.folder.name image.name 500 %}">W-500</a></li>
            <li><a href="{% url 'resize_image' image.user.username image.folder.name image.name 700 %}">W-700</a></li>
            <li><a href="{% url 'resize_image' image.user.username image.folder.name image.name 900 %}">W-900</a></li>
        </ul>
    </div>

    {% if user_folder %}
        <div class="panel panel-default" style="width:450px">
            <div class="panel-heading">
                <h3 class="panel-title">Przenieś do folderu</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="id_folder" style="width: 140px; padding-top: 5px">Nazwa
                            folderu</label>
                        {{ form.folder }}
                    </div>
                    <button type="submit" class="btn btn-default" style="margin-left: 10px">Przenies</button>
                </form>
            </div>
        </div>
    {% endif %}

{% endblock %}