{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="bs-example">
        <div class="row">

            {% for user in folder_list %}
                <div class="col-xs-6 col-md-3">
                    <a href="{% url 'get_folders' user %}" class="thumbnail">
                        <img src="{% static 'gallery/images/user.png' %}"
                             style="height: 220px; width: 100%; display: block;" data-src="holder.js/100%x180"
                             alt="{{ user }}">
                        <span class="glyphicon-class" style="text-align: center"><h3>{{ user }}</h3></span>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}